- toolbar_for = options.delete(:toolbar_name) || :toolbar
- content_for(toolbar_for) do

  = render :partial => 'data_tables/grid_toolbar', :locals => local_assigns

-# This will render the download modal - Can't be in `other_body_content` because of master detail
- if download_visible
  = render :partial => 'data_tables/download_modal', :locals => local_assigns

.clearfix
.dxDataGrid-holder{:id => "#{container_id}-holder", :style=> "height: inherit;"}
  - height_style = (height.present?) ? "height: #{height};" : ""
  - width_style = (width.present?) ? "width: #{width};" : ""

  .dxDataGrid-container.well.well-small{:id => "#{container_id}-container", :style => height_style + width_style}
    .dxDataGrid{:id => "#{container_id}"}
    .row-count{:id => "#{container_id}-row_count"}

- unless disable_state_storing
  - # This is bad, we shouldn't be calling sql functions from views.
  - # TODO:: We shouldn't have a dependancy on an external object in the gem.
  - #        Possible solution is to add a requirement for the gem to have a UserGridLayout store(storage mechanism independent).
  - columns_layout = UserGridLayout.get_user_grid_layout(current_user, self.controller_name, self.action_name, data_table.class.name, data_table.additional_layout_key)

- highlighted_result = params[:highlighted_result]
- highlighted_result_is_text = params[:highlighted_result_is_text] || false
#dialog_container

:javascript
  $(function() {
    // To allow the grid to load correctly with fixed columns, we set the pre-rendered row count.
    // This is a workaround for the issue created by the new infinite/virtual scroll engine,
    // where fixed columns cayse the grid to render incorrectly.
    DevExpress.ui.dxDataGrid.defaultOptions({
      options: {
        scrolling: {
          prerenderedRowCount: 1,
          legacyMode: true
        }
      }
    });
    let dataGrid_#{ container_id } = $("##{ container_id }");

    // compact-view is a list of the columns to show when the grid is compacted to show a specific grid level.
    let compact_view_json = #{compact_view_json};
    dataGrid_#{ container_id }.data("compact-view", compact_view_json);

    dataGrid_#{ container_id }.data("internal_master_detail-apply_default_state_on_reset", #{internal_master_detail_options.fetch(:apply_default_state_on_reset, true)});
    dataGrid_#{ container_id }.data("internal_master_detail-disable_repaint", #{internal_master_detail_options.fetch(:disable_repaint, false)});

    // default-json is used as a fallback layout if there is no level 1 layout set on master-detail.
    let columns_json = [#{columns_json}];
    dataGrid_#{ container_id }.data("default-json", columns_json);

    let data_options_json = #{data_options_json};
    for (var i in data_options_json) {
      dataGrid_#{ container_id }.data(i, data_options_json[i]);
    }

    // FIXME: this isn't a specific enough jQuery selector when filter_form_id == "form"
    //   since if there is more than one form, it will include them all
    // if all controllers correctly implement url_params, then "converted_load_options"
    //   will contain the necessary values and the filter will work
    var search_params = $("#{filter_form_id}").serialize();

    var user_grid_layouts_save_layout_path = '#{ disable_state_storing ? '' : user_grid_layouts_save_layout_path }';

    var filter_sort = null;

    var dataSource_#{ container_id } = new DevExpress.data.CustomStore({
      key: '#{ data_table.base_query.table_name }.id',
      load: function(loadOptions) {
        var d = new $.Deferred();

        var params = {
          format: 'json',
          filterOptions: loadOptions.filter ? JSON.stringify(loadOptions.filter) : "",   //Getting filter options
          sortOptions: loadOptions.sort ? JSON.stringify(loadOptions.sort) : "",  //Getting sort options
          groupOptions: loadOptions.group ? JSON.stringify(loadOptions.group) : "",  //Getting group options

          //skip and take are used for paging
          skip: loadOptions.skip, //A number of records that should be skipped
          take: loadOptions.take, //A number of records that should be taken

          requireTotalCount: loadOptions.requireTotalCount,
          search_params: search_params,
          dataField: loadOptions.dataField
        };

        filter_sort = {
          sortOptions: params.sortOptions,
          filterOptions: params.filterOptions
        };

        $.extend(params, #{ converted_load_options });

        var request = $.getJSON("#{ data_table.url(self) }", params);
        request.done(function (data) {
          if(data.total_count != undefined) {
            d.resolve(data.items, { totalCount: data.total_count });
          } else {
            d.resolve(data.items);
          }
        });

        var columns_layout = #{ columns_layout.to_json};
        if (!#{disable_state_storing} && columns_layout != undefined && columns_layout.columns != undefined && params.skip == 0) {
          var grid = dataGrid_#{ container_id }.dxDataGrid('instance');

          $.each(columns_layout.columns, function( index, value ) {
            if (value.precision != undefined) {
              grid.columnOption(value.dataField, 'precision', value.precision);
            }
          });
        }
        return d.promise();
      }
    });

    $("##{container_id}-row_count").dxLoadPanel({
      animation: { hide: { delay: 2500 } },
      visible: false,
      showPane: true,
      height: 30,
      width: 150,
      shading: false,
      hideOnOutsideClick: false,
      onShown: function(e){ e.component.hide(); }
    });

    var selectedRowKeys = [];
    var gridDataSourceConfiguration_#{ container_id } = { store: dataSource_#{ container_id } };
    dataGrid_#{ container_id }.dxDataGrid({
      dataSource: gridDataSourceConfiguration_#{ container_id },
      columns: columns_json,
      summary: {
        totalItems: [
          #{ summaries_json }
        ],
        calculateCustomSummary: function (options) {
          #{ custom_summary_functions }
        }
      },
      #{ options_json },
      onContentReady: function(e){
        if (#{requireTotalRowCountIndicator}) {
          var loadpanel = $("##{container_id}-row_count").dxLoadPanel("instance");
          loadpanel.option({
            showIndicator: false,
            message: "Row count: " + e.component.totalCount(),
            position: { of: $('##{container_id} .dx-scrollable-container'), at: 'right top', offset: '-75, 20' }
          });

          loadpanel.show();
        }

        if (#{preserve_selected_rows}) {
          dataGrid_#{ container_id }.dxDataGrid('option', 'selectedRowKeys', selectedRowKeys);
        }

        activateJSPlugins();
      }#{ functions },
      onShow: function(e) {
        e.component.repaint();
      },
      onRowPrepared: function (rowInfo) {
        if (rowInfo.data && rowInfo.rowType != 'group' && rowInfo.data['#{ data_table.base_query.table_name }'] ) {
          var row_info_data = rowInfo.data['#{ data_table.base_query.table_name }'];

          // Handle rules highlighted_result
          if (row_info_data.id == #{ highlighted_result_is_text ? "'#{highlighted_result}'" : highlighted_result.to_i } && #{highlighted_result.present?}){
            rowInfo.rowElement.addClass('highlighted_result');
          }

          // Handle data table highlight_row
          if (row_info_data.hasOwnProperty('_highlight_row')) {
            highlight_row_data = JSON.parse(row_info_data._highlight_row);

            if (highlight_row_data.highlight_row) {
              rowInfo.rowElement.addClass(highlight_row_data.highlight_row_class);
            }
          }
        }
      },
      stateStoring: {
        #{state_storing_json},
        customLoad: function() {

          var custom_layout = #{ columns_layout.to_json};
          var grid = dataGrid_#{ container_id }.dxDataGrid('instance');
          $.each(custom_layout.columns, function( index, value ) {

            if (value.precision != undefined) {
              grid.columnOption(value.dataField, 'format.precision', value.precision);
            }

          });

          return custom_layout;
        },
        customSave: function (gridState) {
          // removing everything we dont need
          delete gridState.pageIndex;
          delete gridState.pageSize;
          delete gridState.allowedPageSizes;
          delete gridState.selectedRowKeys;

          if (filter_sort) {
            if (filter_sort.sortOptions) {
              gridState.sortOptions = JSON.parse(filter_sort.sortOptions);
            }

            if (filter_sort.filterOptions) {
              gridState.filterOptions = JSON.parse(filter_sort.filterOptions);
            }
          }

          var grid = dataGrid_#{ container_id }.dxDataGrid('instance');

          $.each(gridState.columns, function( index, value ) {
            var column = grid.columnOption(value.dataField);
            if (column.format != undefined && column.format.type == "fixedPoint") {
              // Saving precision tto restore in customLoad
              gridState.columns[index].precision = column.format.precision;
            }
          });

          var jGridState = JSON.stringify(gridState);

          $.ajax({
            type: "PUT",
            url: user_grid_layouts_save_layout_path,
            success: function(e) {
              dataGrid_#{ container_id }.data('default-state-json', gridState)
            },
            data: {
              user_grid_layout: {
                controller_class_name: '#{ self.controller_name}',
                action_name: '#{ self.action_name}',
                grid_name: '#{ data_table.class.name}',
                additional_layout_key: '#{ data_table.additional_layout_key }',
                columns_layout: jGridState
              }
            }
          });
        }
      },
      onContextMenuPreparing: function(e) {
        if(e.target === 'header' && e.column.format != undefined && e.column.format.type == "fixedPoint") {
          if (e.items == undefined) { e.items = []; }
          e.items.push({
            beginGroup: true,
            container_id: "#{container_id}",
            closeMenuOnClick: false,
            column: e.column,
            template: column_header_template_precision,
            onItemClick: function(e) {
              if (e.itemElement.prevObject.hasClass('btn')) {
                e.component.hide();
              }
            }
          });
        }
      },
      height: #{height.present? ? "'calc(#{height} - 18px)'" : "`calc(100vh - ${($('##{container_id}-holder').parents('.master-detail-grids').offset() || $('##{container_id}-holder').offset()).top + ($('footer').height() * 2)}px)`"},
      repaintChangesOnly: true,
      onCellPrepared: function(e) {
        if(e.rowType === "data") {
          var data_cell_css_class = e.data['#{data_table.base_query.table_name}'][e.column.dataFieldWithoutTable + '_cell_css_class'];
          if(data_cell_css_class != undefined) {
            e.cellElement.addClass(data_cell_css_class)

            if (!e.data['#{data_table.base_query.table_name}'][e.column.dataFieldWithoutTable] && data_cell_css_class != "") {
              var color = $(e.cellElement).css('background-color');
              var new_cell_background_color_class = (color == 'transparent' ? "dx-cell-error-odd" : "dx-cell-error-even");

              e.cellElement.addClass(new_cell_background_color_class);
            }
          }
        }
      }
    });
  });
