-# fixme: is there a better way?
= render partial: 'data_tables/extra_grid_toolbar', locals: local_assigns rescue nil

= hidden_field_tag :selected_container_id, container_id
= hidden_field_tag :is_master_detail, false

%li
  %button.btn.as_tooltip{:type => 'button',
                         :id => "btn_refresh_#{container_id}",
                         :title => t(:refresh, :scope => :data_tables),
                         :onclick => "refresh_grid('#{container_id}')"}
    = icon_tag('refresh')
    %span
      = t(:refresh, :scope => :data_tables)

- if download_visible
  -# bit of a HACK since some data tables don't specify a source, use url_for
  - download_params = params.merge(:is_master_detail => (options[:is_master_detail] || false)).permit!
  - csv_download_params = download_params.merge(:format => :csv).permit!
  %li
    = link_to data_table.url(self, csv_download_params),
              :class => [:btn, :download_button, :as_tooltip],
              :title => t(:download, :scope => :data_tables),
              :id => "btn_csv_download_#{container_id}",
              :target => "_blank",
              :onclick => "download_file(event, 'csv', '#{container_id}', #{has_s3_download ? 'true' : 'false' })" do
      = icon_tag('download')
      %span
        = t(:download, :scope => :data_tables)

  - if xls_download_visible
    - xls_download_params = download_params.merge(:format => :xls).permit!
    %li
      = link_to data_table.url(self, xls_download_params),
                :class => [:btn, :download_button, :as_tooltip],
                :title => t(:download_xls, :scope => :data_tables),
                :id => "btn_xls_download_#{container_id}",
                :target => "_blank",
                :onclick => "download_file(event, 'xls', '#{container_id}', #{has_s3_download ? 'true' : 'false' })" do
        = icon_tag('file-excel-o')
        %span
          = t(:download_xls, :scope => :data_tables)

- if column_picker_visible
  %li
    %a.btn.as_tooltip{:type => 'button',
                      :id => "btn_col_chooser_#{container_id}",
                      :title => t(:configure, :scope => :data_tables),
                      :onclick => "show_column_chooser('#{container_id}')"}
      = icon_tag('cogs')
      %span
        = t(:configure, :scope => :data_tables)

- if reset_layout_visible
  %li
    %a.btn.as_tooltip{:type => 'button',
                      :id => "btn_grid_reset_#{container_id}",
                      :title => t(:reset, :scope => :data_tables),
                      :onclick => "initiate_grid_reset('#{container_id}')"}
      = icon_tag('undo')
      %span
        = t(:reset, :scope => :data_tables)

:javascript
  $(function(){
    function download_file(event, type, container_id, allow_large_files) {
      container_id = getSelectedContainerId(container_id);

      /* This links to the -xls_download and -csv_download buttons, depending on type */
      var file_location = $('#' + container_id + '-' + type + '_download').attr('href');
      /* This check is here in case there is no download button found */
      if (file_location && file_location.length > 0) {
        window.location = file_location;
        var total_count = getDataGrid('#' + container_id).totalCount();

        if(total_count > 999  && allow_large_files) {
          $('#' + container_id + '-download_modal').modal({backdrop: false}).modal('show');
        }
      }

      if (event)
        event.preventDefault();

      return false;
    }

    function show_column_chooser(container_id) {
      var dataGrid = getDataGrid('#' + getSelectedContainerId(container_id));
      dataGrid.showColumnChooser();
    }

    function refresh_grid(container_id) {
      var dataGrid = getDataGrid('#' + getSelectedContainerId(container_id));
      dataGrid.refresh();
    }

    function initiate_grid_reset(container_id) {
      container_id = getSelectedContainerId(container_id);
      var $dataGrid = $('#' + container_id);

      alertify.confirm('#{t(:reset, :scope => [:data_tables, :dialog])}', function(e){
        if(e){
          $.ajax({
            url: $dataGrid.data('reset_layout_url'),
            type: 'PUT',
            dataType: 'script',
            data: {
              container_id: container_id,
              user_grid_layout: {
                controller_class_name: $dataGrid.data('controller_name'),
                action_name: $dataGrid.data('action_name'),
                grid_name: $dataGrid.data('grid_name')
              }
            }
          });
        }
      });
    }

    function getSelectedContainerId(default_container_id) {
      var is_master_detail = JSON.parse($('#is_master_detail').val().toLowerCase());
      return (is_master_detail === true) ? $('#selected_container_id').val() : default_container_id;
    }
  });
